<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>A.J.R.D.L</h3>
                    <p>
                    A108 Rue des Anas <br>
                    Lomé Golf, Rue 535022<br>
                    Togo <br><br>
                    <strong>Tél:</strong> +228 90 052 303<br>
                    <strong>Email:</strong> ajrdlinfo@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>LIENS UTILES</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url "accueil" %}">ACCUEIL</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#propos">A PROPOS</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#galerie">GALERIE</a></li>      
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>OBLECTIFS / PROJETS</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Fraternité</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Entraide</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Promouvoir notre culture</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Education des jeunes</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Développement de notre milieu</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Rejoignez nous !</h4>
                    <p>Ainsi, rien de ce qui lie beaucoup d'entre nous n'est coupable de notre grand lien</p>
                    <div>
                        <a class="btn btn-warning" href="{% url "inscrire" %}">S"INSCRIRE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
            &copy; Copyright <strong><span>AJRDL 2024</span></strong>. Tout Droit Reservé
            </div>
            <div class="credits">
            produit par <a href="#">ELECTRO Labo</a>
            </div>
        </div>
        
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://api.whatsapp.com/send/?phone=22890052303&text=Salut AJRDL !" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
         </div>
    </div>
</footer><!-- End Footer -->