<!-- === ETENDU DE 'base.html' ===-->
{% extends "base.html" %}

<!-- === TOP DE PAGE ===-->
{% block top %}{% include "top.html" %}{% endblock %}

<!-- === TÊTE DE PAGE ===-->
{% block header %}{% include "header.html" %}{% endblock %}

<!-- === CONTENUS DE LA PAGE ===-->
{% block body %}

    {% load static %}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">
                
                <!-- Slide 1 -->
                <div class="carousel-item active " style="background-image: url(static/img/slide/slide1.jpg);">
                    <div class="carousel-container">
                        
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(static/img/slide/slide2.jpg);">
                    <div class="carousel-container">
                        
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(static/img/slide/slide3.jpg);">
                    <div class="carousel-container">
                        
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        </div>
    </section><!-- End Hero -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>Elle compte 30 <span>membres</span></h3>
                    <p></p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{% url "membre" %}">VOIR</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <h3 class="text-center text-primary bg-dark">A propos</h3>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="title"><a href="{% url "reglement" %}">Règlements</a></h4>
                        <p class="description">Découvrez les règles qui régissent l'AJRDL...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-card-checklist"></i></div>
                        <h4 class="title"><a href="{% url "statut" %}">Statuts</a></h4>
                        <p class="description">Un coup d'oeil sur nos statuts...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-bar-chart"></i></div>
                        <h4 class="title"><a href="{% url "projet" %}">Projets</a></h4>
                        <p class="description">Projets réalisés et en cour de réalisation</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-binoculars"></i></div>
                        <h4 class="title"><a href="{% url "vision" %}">Visions</a></h4>
                        <p class="description">Notre vision est de voir un jour notre village devenir une belle ville du Togo...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        <h4 class="title"><a href="{% url "information" %}">Informations</a></h4>
                        <p class="description">Des informations sur l'AJRDL (Association des Jeunes Réssortissant de Datcha à Lomé)...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="{% url "realisation" %}">Réalisations</a></h4>
                        <p class="description">Des réalisations effectuées dans notre village...</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <h3 class="text-center text-primary bg-dark">Galerie</h3>

        <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">TOUT</li>
                        <li data-filter=".filter-app">RÉUNION</li>
                        <li data-filter=".filter-card">FÊTE</li>
                        <li data-filter=".filter-web">DÉCÈS</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static "img/portfolio/portfolio.jpg" %}" class="img-fluid" alt="" width=100% height=10%/>
                    <div class="portfolio-info">
                        <h4>Réunion 1</h4>
                        <p>Réunion</p>
                        <a href="{% static "img/portfolio/portfolio-1.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static "img/portfolio/portfolio7.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Décès 3</h4>
                        <p>Décès</p>
                        <a href="{% static "img/portfolio/portfolio-2.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static "img/portfolio/portfolio.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Réunion 2</h4>
                        <p>Réunion</p>
                        <a href="{% static "img/portfolio/portfolio-3.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static "img/portfolio/portfolio3.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Fête 2</h4>
                        <p>Fête</p>
                        <a href="{% static "img/portfolio/portfolio-4.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static "img/portfolio/portfolio7.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Décès 2</h4>
                        <p>Décès</p>
                        <a href="{% static "img/portfolio/portfolio-5.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static "img/portfolio/portfolio.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Réunion 3</h4>
                        <p>Réunion</p>
                        <a href="{% static "img/portfolio/portfolio-6.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static "img/portfolio/portfolio3.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Fête 1</h4>
                        <p>Fête</p>
                        <a href="{% static "img/portfolio/portfolio-7.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static "img/portfolio/portfolio3.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Fête 3</h4>
                        <p>Fête</p>
                        <a href="{% static "img/portfolio/portfolio-8.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static "img/portfolio/portfolio7.jpg" %}" class="img-fluid" alt="" width=100% height=100%>
                    <div class="portfolio-info">
                        <h4>Décès 3</h4>
                        <p>Décès</p>
                        <a href="{% static "img/portfolio/portfolio-9.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->       
{% endblock %}

<!-- === PIED DE PAGE ===-->
{% block footer %}{% include "footer.html" %}{% endblock %}