<!-- === ETENDU DE 'base.html' ===-->
{% extends "base.html" %}

<!-- === TOP DE PAGE ===-->
{% block top %}{% include "top.html" %}{% endblock %}

<!-- === TÊTE DE PAGE ===-->
{% block header %}{% include "header.html" %}{% endblock %}

<!-- === CONTENUS DE LA PAGE ===-->
{% block body %}

    {% load static %}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for diaporama in diaporama %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ diaporama.image.url }}" class="d-block w-100 " alt="{{ diaporama.title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ diaporama.titre }}</h5>
                            <p>{{ diaporama.intitule }}</p>
                        </div>
                    </div>
                {% endfor %}    
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        </div>
    </section><!-- End Hero -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    {% if effectif <= 1 %}
                        <h3>{{ effectif }} <span>membre</span></h3>
                    {% else %}
                        <h3>{{ effectif }} <span>membres</span></h3>
                    {% endif %}
                    <p></p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{% url "membre" %}">VOIR</a>
                </div>
            </div>
        </div>
    </section><!-- End Cta Section -->

    <h3 class="text-center text-primary bg-dark" id="propos">A propos</h3>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="title"><a href="{% url "reglement" %}">Règlements</a></h4>
                        <p class="description">Découvrez les règles qui régissent l'AJRDL...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-card-checklist"></i></div>
                        <h4 class="title"><a href="{% url "statut" %}">Statuts</a></h4>
                        <p class="description">Un coup d'oeil sur nos statuts...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-bar-chart"></i></div>
                        <h4 class="title"><a href="{% url "projet" %}">Projets</a></h4>
                        <p class="description">Projets réalisés et en cour de réalisation</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-binoculars"></i></div>
                        <h4 class="title"><a href="{% url "vision" %}">Visions</a></h4>
                        <p class="description">Notre vision est de voir un jour notre village devenir une belle ville du Togo...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        <h4 class="title"><a href="{% url "information" %}">Informations</a></h4>
                        <p class="description">Des informations sur l'AJRDL (Association des Jeunes Réssortissant de Datcha à Lomé)...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="{% url "realisation" %}">Réalisations</a></h4>
                        <p class="description">Des réalisations effectuées dans notre village...</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <h3 class="text-center text-primary bg-dark" id="galerie">Galerie</h3>

        <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">                      
                        <li data-filter=".filter-Réunion">RÉUNION</li>
                        <li data-filter=".filter-Fête">FÊTE</li>
                        <li data-filter=".filter-Décès">DÉCÈS</li>
                        <li data-filter="*" class="filter-active">TOUT</li>
                    </ul>
                </div>
            </div>
 
            <div class="row portfolio-container" data-aos="fade-up">
                {% for galerie in galerie %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ galerie.titre }}">
                        <img src="{{ galerie.image.url }}" class="img-fluid" alt="" width=100% height=10%/>
                        <div class="portfolio-info">
                            <h4>{{ galerie.titre }} {{ galerie.intitule }}</h4>
                            <p>{{ galerie.date }}</p>
                            <a href="{{ galerie.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ galerie.titre }} {{ galerie.intitule }}">
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}      
            </div>
        </div>
    </section><!-- End Portfolio Section -->       
{% endblock %}

<!-- === PIED DE PAGE ===-->
{% block footer %}{% include "footer.html" %}{% endblock %}