<!-- === ETENDU DE LA BASE === -->
{% extends "base.html" %}

<!-- === TOP DE PAGE === -->
{% block top %}{% include "top.html" %}{% endblock %}

<!-- === TÊTE DE PAGE === -->
{% block header %}{% include "header.html" %}{% endblock %}

<!-- === CONTENUS DE LA PAGE === -->
{% block body %}

   <!-- ======= Breadcrumbs ======= -->
   <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Membre</h2>
                <ol>
                    <li><a href="{% url "accueil" %}">Accueil</a></li>
                    <li>Membre</li>
                </ol>
            </div>
        </div>
   </section><!-- End Breadcrumbs -->
         
   <!-- ======= Testimonials Section ======= -->
   <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="row">
                {% for membre in membre %}
                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="testimonial-item mt-4">
                            <div class="text-center">
                                <a href="{{ membre.photo.url }}">
                                    <img src="{{ membre.photo.url }}" class="testimonial-img" alt="{{ membre.last_name|upper }} {{ membre.first_name|capfirst }}" width="120" height="90">
                                </a>
                            </div>
                            <!-- Nom et Prénom -->
                            <h5 class="text-center">{{ membre.last_name|upper }} {{ membre.first_name|capfirst }}</h5>
                            <!-- Profession -->
                            <h4 class="text-center"> {{ membre.profession|capfirst }}</h4><br>
                            <p class="mt-0" style="text-align:justify;">    
                                Je suis originaire de <strong>Datcha</strong>, vivant à <strong>{{ membre.ville }}</strong>. 
                                Je suis <strong>{{ membre.profession }}</strong> et accessible sur le <strong>{{ membre.contact }}</strong>. 
                                Je suis membre d'AJRDL le <strong>{{ membre.adhesion }}</strong>.    
                            </p>
                            <div class="text-center mt-3">
                                <button class="btn btn-info btn-sm rounded-pill"><a class="text-white" href="{% url "connecte" %}">Connecter</a></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

<!-- === PIED DE PAGE ===-->
{% block footer %}{% include "footer.html" %}{% endblock %}