<!--=== ETENDU DU FICHIER DE BASE ===-->
{% extends "base.html" %}

<!--=== TOP DE PAGE ===-->
{% block top %}{% include "top.html" %}{% endblock %}

<!--=== TÊTE DE PAGE ===-->
{% block header %}{% include "header.html" %}{% endblock %}

<!--=== PIED DE PAGE ===-->
{% block footer %}{% include "footer.html" %}{% endblock %}

<!--=== CONTENUS DE LA PAGE ===-->
{% block body %}

    <!--======= Breadcrumbs =======-->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Statuts</h2>
                <ol>
                    <li><a href="{% url "accueil" %}">Accueil</a></li>
                    <li>Statuts</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
        <div class="container"> 

            <div class="row mt-0 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <div class="card basic">
                        <div class="card-body fs-4" style="font-family: 'Times New Roman', sans-serif; text-align:justify">
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">PREAMBULE</p>
                            <p class="text-justify">
                                Considérant que l’homme est un être social qui peut s’affirmer qu’au sein d’une société ;
                            </p>
                            <p>
                                Considérant l’importance sociale de la fraternité, de la solidarité, d’amitié et d’entraide ; 
                            </p>
                            <p>
                                Dans le souci de créer une ambiance de fraternité, de  solidarité, d’amitié, et d’entraide entre jeunes filles et jeunes hommes ressortissants du village de Datcha à Agoé, nous créons une amicale conformément à la loi de 1er juillet 1901 relative à la liberté d’association. Elle est régie par les statuts et règlement intérieur dont le contenu est le suivant.
                            </p>   
                        </div>
                        <div class="card-body fs-4" style="font-family: 'Times New Roman', sans-serif; text-align:justify">
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITRE I - CREATION – DENOMINATION</p>
                            <p>
                                <strong>Article 1 :</strong> 
                                Il est fondé entre les adhérents aux présents statuts une amicale dénommée AMICALE DES JEUNES RESSORTISSANTS DE DATCHA A AGOE (A.J.R.D.A). Elle est apolitique et à but non lucratif sans distinction de sexe ni de religion.
                            </p>
                            <p>
                                <strong>Article 2 :</strong> 
                                Son siège social est fixé à Agoè-Kossigan s/c 05BP.290 Lomé Tél. 90.05.23.03 / 90.13.94.52. Il pourra être transféré par simple décision du conseil d’administration, mais la ratification par l’assemblée générale sera nécessaire.
                            </p>
                            <p>
                                <strong>Article 3 :</strong> 
                                L’amicale a une durée illimitée. 
                            </p>
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITRE II - BUT – OBJECTIFS – MOYENS D’ACTION</p>
                            <p>
                                <strong>Article 4 :</strong> 
                                L’A.J.R.D.A a pour but d’œuvrer pour l’épanouissement de ses membres et le développement de son patrimoine commun qu’est le village de DATCHA ;
                            </p>
                            <p>
                                <strong>Article 5 :</strong> 
                                L’A.J.R.D.A a pour objectifs : <br>
                                &raquo;	d’instaurer un esprit de familiarité, de solidarité et d’entraide entre les membres ; <br>
                                &raquo;	de venir en aide aux membres nécessiteux par une assistance morale, financière et matérielle en fonction des nécessités et selon les possibilités ; <br>
                                &raquo;	de défendre les intérêts moraux et matériels des membres.  
                            </p>
                            <p>
                                <strong>Article 6 :</strong> 
                                Pour atteindre ses objectifs, l’A.J.R.D.A organise des réunions, des assemblées générales et si nécessaires, des sensibilisations dans le village de DATCHA.
                            </p>
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITRE III - MEMBRES – MODE D’ADHESION – QUALITES DEMEMBRES – DROITS ET OBLIGATIONS DES MEMBRE</p>
                            <p>
                                <strong>Article 7 :</strong>
                                L’amicale se compose de : <br>
                                &raquo; Membres fondateurs ; <br>
                                &raquo; Membres actifs ; <br>
                                &raquo; Membres sympathisants ; <br>
                                &raquo; Membres d’honneur.
                            </p>
                            <p>
                                <strong>Article 8 :</strong> 
                                Est membre fondateur, toute personne physique ou morale ayant participé à l’assemblée générale  constitutive.
                            </p>
                            <p>
                                <strong>Article 9 :</strong> 
                                Est membre actif, toute personne physique ou morale qui participe d’une façon dynamique aux activités de l’A.J.R.D.A et qui est en règle avec l’amicale ;
                            </p>
                            <p>
                                <strong>Article 10 :</strong> 
                                Est membre sympathisant, toute personne n’adhérant à l’amicale que dans le seul but de bénéficier de ses services.
                            </p>
                            <p>
                                <strong>Article 11 :</strong> 
                                Peut être membre d’honneur, toute personne qui s’est spécialement distinguée soit par des services rendus, soit par des intérêts accordés à l’amicale.
                            </p>
                            <p>
                                <strong>Article 12 :</strong> 
                                Pour faire partie de l’amicale, il faut être  originaire du village de DATCHA et être agréé par le bureau qui statue, lors de chacune de  ses réunions, sur les demandes d’admission présentées.
                            </p>
                            <p>
                                <strong>Article 13 :</strong> 
                                la qualité de membre  se perd par : <br>
                                &raquo; Démission. Toute démission doit être motivée par une lettre de démission adressée au bureau. La démission ne doit pas être annoncée de façon abusive c’est-à-dire dans les circonstances susceptibles de causer un préjudice à l’amicale. Dans le cas contraire un membre qui exercerait de manière abusive son droit de démissionner s’exposerait à une action en justice de la part de l’amicale en vue d’obtenir des dommages et intérêts. <br>
                                &raquo; Décès ; <br>
                                &raquo; Radiation décidée par l’assemblée générale pour non paiement de la cotisation mensuelle ou pour motif grave, l’intéressé ayant été invité à se présenter devant l’assemblée générale pour fournir des explications.
                            </p>
                            <p>
                                <strong>Article 14 :</strong> 
                                Tout membre peut démissionner à tout moment, avec pour seule obligation le paiement des cotisations échues.
                            </p>
                            <p>
                                <strong>Article 15 :</strong> 
                                Le bureau exécutif est habileté à prononcer l’exclusion d’un membre. En tout état de cause, le membre doit être à même de présenter sa défense. Il doit être convoqué et informé de l’objet de la réunion au cours de laquelle doit être décidée son exclusion.
                            </p>
                            <p>
                                <strong>Article 16 :</strong> 
                                En cas de démission ou d’exclusion, le membre perd sa qualité de membre et doit obligatoirement rendre à l’amicale tout ce qui appartient à l’amicale.
                            </p>
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITRE IV - ORGANISATION ET FONCTIONNEMENT</p>
                            <p>
                                <strong>Article 17 :</strong> 
                                L’A.J.R.D.A est dotée des organes suivants : <br>
                                &raquo; L’assemblée générale <br>
                                &raquo; Le bureau exécutif
                            </p>
                            <p>
                                <strong>Article 18 :</strong> 
                                L’assemblée générale est l’organe suprême de l’A.J.R.D.A. Elle réunit tous les membres en session ordinaire sur convocation du bureau exécutif ou quand les 2/3 (deux tiers) des membres font la demande.
                            </p>
                            <p>
                                <strong>Article 19 :</strong> 
                                L’assemblée générale délibère sur toutes les questions portées à son ordre du jour, adopte les rapports moraux et financiers ainsi que les procès verbaux des réunions en présence au moins des 2/3 (deux tiers) des membres. Elle est la seule habileté à modifier les présents statuts et règlement intérieur.
                            </p>
                            <p>
                                <strong>Article 20 :</strong> 
                                Le bureau exécutif est l’organe de direction. Il met en application les décisions et résolutions de l’assemblée générale. Les membres du bureau exécutif sont élus par l’assemblée générale pour une durée de trois ans.
                            </p>
                            <p>
                                <strong>Article 21 :</strong> 
                                Le bureau exécutif comporte 7 (sept) membres, élus pour  trois (3) années par l’assemblée générale. Les membres sont rééligibles. <br>
                                &raquo; Un président ; <br>
                                &raquo; Un secrétaire général ; <br>
                                &raquo; Un secrétaire général  adjoint ; <br>
                                &raquo; Un trésorier général ; <br>
                                &raquo; Un trésorier général  adjoint ; <br>
                                &raquo; Deux conseillers.
                            </p>
                            <p>
                                <strong>Article 22 :</strong> 
                                Le président est le premier responsable de l’A.J.R.D.A, qu’il représente en toute circonstance. Il signe les correspondances. Il est appelé à défendre les intérêts de l’amicale en tout moment et en tout lieu ; il convoque et préside les assemblées générales et réunions. Il ordonne les dépenses de l’amicale ; appose sa signature sur toutes les dépenses effectuées par l’amicale. Par ailleurs, il ne peut prendre aucune décision sans l’approbation des deux tiers (2/3) des membres du bureau exécutif ou de l’assemblée générale.
                            </p>
                            <p>
                                <strong>Article 23 :</strong> 
                                Le secrétaire général est la deuxième personnalité de l’amicale. Il est assisté par un adjoint. Il est  responsable du secrétariat et des archives ; tient la correspondance et rédige les procès verbaux. Il assiste le président ; il le remplace en cas d’empêchement ou de vacance. Enfin, il prépare les ordres du jour des réunions en accord avec le président.
                            </p>
                            <p>
                                <strong>Article 24 :</strong> 
                                Le trésorier général a la charge de la trésorerie ; il est responsable des recouvrements des cotisations et signe les ordonnances des dépenses. Il rend compte de la situation de la trésorerie après chaque activité au bureau exécutif et à l’assemblée générale. <br>
                                Le trésorier général  adjoint assiste le trésorier général et le remplace en cas d’empêchement ou de vacance.
                            </p>
                            <p>
                                <strong>Article 25 :</strong> 
                                Les conseillers assistent le bureau exécutif dans sa prise de décision, et l’aident à trouver des solutions idoines aux éventuels problèmes pour la bonne marche de l’amicale.
                            </p>
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITRE V - RESSOURCES</p>
                            <p>
                                <strong>Article 26 :</strong> 
                                Les ressources de l’A.J.R.D.A comprennent : <br>
                                &raquo; Le montant des droits d’adhésion et des cotisations ; <br>
                                &raquo; Les subventions de l’Etat.
                            </p>
                            <p>
                                <strong>Article 27 :</strong> 
                                Les fonds recueillis sont versés dans une institution financière de la place. Les signatures conjointes d’au moins de deux membres des mandataires sont obligatoires pour toute opération de retrait de fonds sur le compte.
                            </p>
                            <p>
                                <strong>Article 28 :</strong> 
                                La caisse au niveau du trésorier général pour les dépenses courantes ne doit pas dépasser un montant de cent mille (100.000) francs cfa.
                            </p>
                            <p>
                                <strong>Article 29 :</strong> 
                                Les ressources de l’amicale servent à réaliser ses objectifs. 
                            </p>
                            <p class="card-title text-center my-4 h1" style="text-shadow:2px 2px 4px rgba(0, 0, 0, 1);">TITTRE VI - DISPOSITIONS DIVERSES</p>
                            <p>
                                <strong>Article 30 :</strong> 
                                Les statuts de l’A.J.R.D.A peuvent être modifiés par décision de l’assemblée générale prise à la majorité des deux tiers (2/) des membres présents.
                            </p>
                            <p>
                                <strong>Article 31 :</strong> 
                                En cas de dissolution prononcée par les deux tiers (2/3) des membres présents à l’assemblée générale pour une raison ou une autre et sous réserve de dispositions des lois spéciales, l’actif net subsistant après règlement du passif et remboursement des dettes effectivement occasionnées est dévolu par décision de l’assemblée générale pour des réalisations communautaires locales.
                            </p>
                            <p>
                                <strong>Article 32 :</strong> 
                                Sur décision de l’assemblée générale, l’amicale peut s’affilier à tout organisme susceptible de défendre ses intérêts ou de contribuer au développement de ses activités.
                            </p>
                            <p>
                                <strong>Article 33 :</strong> 
                                Tout ce qui n’est pas prévu aux présents statuts sera précisé dans le règlement intérieur.
                            </p>
                            <p>
                                <strong>Article 34 :</strong> 
                                Les présents statuts entrent en vigueur à compter de la date de son adoption. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
{% endblock %}